/*!
 * Tengku Firmansah
 * Copyright 2017
 */
/*! semutinfo.com */

body{
	background-color: #fff;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome.ttf')  format('truetype');
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #337ab7;
    border-radius: 3px
}
::-webkit-scrollbar-thumb:hover {
    background: #d48a6d; 
    border-radius: 3px
}
.error{
    color: #ed2729;
}
.imgberita{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}
.notifpembayaran{
    border: 4px solid #337ab7;
    margin: 10px 0px;
    padding: 20px;
    text-align: center;
    background-color: #337AB6;
    color: #fff;
}
.total{
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #337ab7;
    color: #fff;
}
.terlewati{
    background-color: #337ab7; 
    width: 150px; 
    height: 20px; 
    color: #fff; 
    font-weight: bold; 
    padding: 0px 5px;
    margin-bottom: 2px;
}
.posisi{
    background-color: #6abd45; 
    width: 150px; 
    height: 20px; 
    color: #fff; 
    font-weight: bold; 
    padding: 0px 5px;
}
.logona{
	padding: 10px 5px;
}
.loginna{
	position: relative;
	/*height: 500px;*/
	overflow: hidden;
}
.header{
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
	z-index: 10;
}
.isina{
	padding: 0px 50px;
}
.sosmed{
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
}
.play{
	text-align: right;
	padding: 10px;
}
@media(max-width: 991px){	
	.sosmed{
		margin-top: 20px;
		margin-bottom: 20px;
		align-items: center;
		float: left;
		padding: 0px;
		margin-left: 25%;
	}	
	.play{
		text-align: center;
	}
}
.lingkaran-sosmed-fb{
	float: left;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	padding: 5px;
	background-color: #3d53a4;
}
.lingkaran-sosmed-tw{
	float: left;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	padding: 5px;
	background-color: #6dc0f3;
}
.lingkaran-sosmed-gp{
	float: left;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	padding: 5px;
	background-color: #eb2025;
}
.card-container.card {
    max-width: 350px;
    padding: 30px 40px;
}
.icon{
	padding: 20px 0px 20px 20px;
	color: #888;
}
.icon p{
	font-size: 18px;
	text-align: center;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.copy{
	color: #888;
	padding: 15px 10px;
}
.footer{
	background-color: #eee;
}
.card {
    background-color: rgba(247, 247, 247, 0.8);
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(66, 95, 202);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(61, 83, 164);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
@media (min-width: 768px) {
  .bawah {
    bottom: 0px;
    right: 20px;
    position: absolute;
  }
  .pisahin{
    position: absolute;
    right: 0px;
    top: -50px;
  } 
}

@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
    transform: rotate(-90deg);
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 200px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 200px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 200px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 200px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 200px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .text {
    margin-top: 41%;
    margin-left: 27%;
    font-size: 24px;
    color: #fff;
    z-index: 999999;
    position: absolute;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
@keyframes load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
.status-success{
    width: 100%;
    padding: 1px 2px;
    background-color: #5cb85c;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
.status-danger{
    width: 100%;
    padding: 1px 2px;
    background-color: #d9534f;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}